<div class="col">
  <div class="container mt-3" style="max-width: 350px; min-width: 300px;">
    <div class="card text-left" (pointerenter)="showStar($event.target)" (pointerleave)="hideStar($event.target)" >
      <div class="card-header d-flex justify-content-between" >
        <h4 class="ml-auto mt-3 mb-0" id="location">{{address}}</h4>
        <form action="PUT REQUEST TO TOGGLE FAV STATUS">
          <i class="bi-star favorite" type="submit" style="font-size: 2rem; visibility: hidden" alt="favorite button" (click)="favClick($event.target)"></i>
        </form>
      </div>

      <div class="card-body p-0">
        <img [src]="photoRef" id="icon" width="100%" alt="Apartment Listing Photo">

        <div class="p-3">
            <p class="ml-auto mb-0 med-font" id="details">${{price}}/month</p>
            <p class="ml-auto mb-0 med-font" id="details2">{{beds}} Bed / {{baths}} Bath</p>

            <p class="px-2 ml-auto mb-0 med-font" id="details2">{{details}}</p>
            <a href="#.\apartmentlisting.html" class="mt-3 ml-auto btn bg-color-blue btn-sm">Learn More!</a>  
        </div>
        
      </div>

    </div>
  </div>
</div>