  <app-header></app-header>

  <div class="row px-2">
    <div class="col-8">
      <h1 class="mx-1"> Property Page </h1>

      <app-edit-listing [editor]='{listingId: 1234, ownerId: 4,address: "Example address 4", price: 300,photoRef: "assets\\images\\apartment.jpg",leaseStart: "1999-01-01",leaseEnd: "1999-05-01",details: "Example Details 4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod quam quis eros consectetur, vitae consectetur massa condimentum. Nunc sit amet turpis dignissim nibh suscipit finibus id sagittis dolor. Fusce quis risus et risus congue euismod. Donec et dui suscipit, aliquam odio ac, semper nisi. Vestibulum scelerisque sed sapien ut sodales. In sit amet congue massa. Praesent sed est semper, auctor sapien eget, varius purus. Nunc tempor ligula vitae turpis vehicula lacinia.", beds: 6,baths: 2,kitchens: 1,centralAir: false,sqft: 1000,favoriteStatus: false}'></app-edit-listing>  
      

    </div>
    <div class="col">
      <div class="card text-left" id = "offers">
        <div class="card-header">
          <h2 class="ml-auto mt-3 mb-0">Offers</h2>
        </div>
        <div class="card-body p-0">
          <app-message-box [message]='{senderName: "Bob1",senderID: 12345, messageBody: "Hi! Im interested in your property. Will you contact me?", messageID: 1}'></app-message-box>
          <app-message-box [message]='{senderName: "Bob2",senderID: 12346, messageBody: "Hi! Im interested in your property. Will you contact me?", messageID: 2}'></app-message-box>
          <app-message-box [message]='{senderName: "Bob3",senderID: 12347, messageBody: "Hi! Im interested in your property. Will you contact me?", messageID: 3}'></app-message-box>

          <form class="p-2">
            <div class="form-group">
              <label for="defaultMessage">Default message to users:</label>
              <textarea class="form-control mb-1" id="defaultMessage">Hi! You can contact me at 800-222-1222 or by email at example@gmail.com</textarea>
            </div>
            <input class="btn btn-sm bg-color-dark-blue" type="submit" value="Save Message">
          </form>
        </div>
        
      </div>
    </div>
  </div>