<div class="card mb-3 text-left">
  <img class="card-img-top" [src]="editor.photoRef" alt="apartment picture">
  <div class="card-body">

    <form #editForm="ngForm" novalidate id="formAction" action="javascript:void(0);" class="form">
      <div class="form-group row mb-1">
        <label class="col-auto" style="min-width: 150px;" for="fname">Add Images: </label>
        <input class="col form-control-file" type="file" multiple name="image_upload" [(ngModel)]="editor.photoRef">
      </div>
      <div class="form-group row mb-2">
        <label class="col-auto" style="min-width: 150px;" for="location">Location: </label>
        <input class="col form-control" type="text"  name="location" [(ngModel)]="editor.address">
      </div>
      <div class="form-group row mb-2">
        <label class="col-auto" style="min-width: 150px;" for="price">Price/month: </label>
        <div class="col input-group m-0 p-0">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>
          <input class="col form-control" type="number" name="price" [(ngModel)]="editor.price" min="0">
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-auto" style="min-width: 150px;" for="LeaseDuration">Leasure Duration:</label>
        <div class="col row align-items-center">
          <input class="form-control col" type="date"  name="LeaseDuration" [(ngModel)]="editor.leaseStart">
          <div class="col-auto text-center my-auto"><i class="bi bi-dash"></i></div>
          <input class="form-control col" type="date"  name="LeaseDuration" [(ngModel)]="editor.leaseEnd">
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-auto" style="min-width: 150px;" for="sqft">Square Footage: </label>
        <div class="col input-group m-0 p-0">
          <div class="input-group-prepend">
            <div class="input-group-text">ft^2</div>
          </div>
          <input class="col form-control" type="number" name="sqft" [(ngModel)]="editor.sqft" min="0">
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-auto" style="min-width: 150px;" for="bnb">Bed and Bath: </label>
        <div class="col input-group m-0 p-0">
          <div class="input-group-prepend">
            <div class="input-group-text"> <i class="bi-moon-stars-fill" style="" alt="bed icon"></i> </div>
          </div>
          <input class="col form-control" type="number"  name="bnb" [(ngModel)]="editor.beds" min="0">
        </div>
        <p class="col-auto text-center my-auto "></p>
        <div class="col input-group m-0 p-0">
          <div class="input-group-prepend">
            <div class="input-group-text"> <i class="bi-droplet-fill" style="" alt="bath icon"></i></div>
          </div>
          <input class="col form-control" type="number"  name="bnb" [(ngModel)]="editor.baths" min="0">
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-auto" style="min-width: 150px;" for="kitchens">Kitchens: </label>
        <div class="col input-group m-0 p-0">
          <input class="col form-control" type="number" name="kitchens" [(ngModel)]="editor.kitchens" min="0">
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-auto" style="min-width: 150px;" for="ac">Central Air? </label>
        <div class="col input-group m-0 p-0">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="ac" [checked]="editor.centralAir" (click)="checkChange()">
            <label class="form-check-label" for="ac">{{editor.centralAir}}</label>
          </div>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-auto" style="min-width: 150px;" for="description">Other Info: </label>
        <textarea class="col form-control" name="description" id="description" [(ngModel)]="editor.details">{{editor.details}}</textarea>
      </div>
      <input class="btn bg-color-dark-blue" type="submit" value="Save Edits">
    </form>
  </div>

</div>
<!-- 
<div *ngIf="listing.favoriteStatus; else elseBlock">
            <i class="bi-star-fill favorite" type="submit" style="font-size: 2rem; visibility: visible;" alt="favorite button" (click)="favClick($event.target)"></i>
          </div>
          <ng-template #elseBlock>
            <i class="bi-star favorite" type="submit" style="font-size: 2rem; visibility: hidden" alt="favorite button" (click)="favClick($event.target)"></i>
          </ng-template> -->