<app-header></app-header>


<div class="row justify-content-center align-items-center">
  
  <img class="mx-3 col-auto" src="assets\\images\lab6_1.png" style="max-width: 600px" alt="Style of Stuctures in Troy, NY">
  <img class="mx-3 col-auto" src="assets\\images\lab6_2.png" style="max-width: 600px" alt="Average Market Value per Year">
  
  <img class="mx-3 col-auto" src="assets\\images\fishek3_bedbrRatio.png" style="max-width: 600px" alt="Bedroom to Bathroom ratios, barplot">
  <img class="mx-3 col-auto" src="assets\\images\fishek3_smoothScatter.png" style="max-width: 600px" alt="Smooth Scatterplot of year built vs number of stories in Troy">

</div>
