    <app-header></app-header>

    <div class="row justify-content-center align-items-center">
      <h1 class="mx-3 col-auto ">Listings</h1>
      <form class="form-inline col-auto">
        <div class="d-flex justify-content-center">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="max-width: 260px; min-width: 50px">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </form>
    </div>

    <div class="row">
        <app-listing-card class="col" [listing]='{listingId: 1, ownerId: 1,address: "Example address 1", price: 300,photoRef: "assets\\images\\apartment.jpg",leaseStart: "1999-01-01",leaseEnd: "1999-05-01",details: "Example Details 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod quam quis eros consectetur, vitae consectetur massa condimentum. Nunc sit amet turpis dignissim nibh suscipit finibus id sagittis dolor. Fusce quis risus et risus congue euismod. Donec et dui suscipit, aliquam odio ac, semper nisi. Vestibulum scelerisque sed sapien ut sodales. In sit amet congue massa. Praesent sed est semper, auctor sapien eget, varius purus. Nunc tempor ligula vitae turpis vehicula lacinia.", beds: 6,baths: 2,kitchens: 1,centralAir: true,sqft: 1000,favoriteStatus: false}'></app-listing-card>

        <app-listing-card class="col" [listing]='{listingId: 12, ownerId: 1,address: "Example address 2", price: 300,photoRef: "assets\\images\\apartment.jpg",leaseStart: "1999-01-01",leaseEnd: "1999-05-01",details: "Example Details 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod quam quis eros consectetur, vitae consectetur massa condimentum. Nunc sit amet turpis dignissim nibh suscipit finibus id sagittis dolor. Fusce quis risus et risus congue euismod. Donec et dui suscipit, aliquam odio ac, semper nisi. Vestibulum scelerisque sed sapien ut sodales. In sit amet congue massa. Praesent sed est semper, auctor sapien eget, varius purus. Nunc tempor ligula vitae turpis vehicula lacinia.", beds: 6,baths: 2,kitchens: 1,centralAir: true,sqft: 1000,favoriteStatus: false}'></app-listing-card>

        <app-listing-card class="col" [listing]='{listingId: 123, ownerId: 2,address: "Example address 3", price: 300,photoRef: "assets\\images\\apartment.jpg",leaseStart: "1999-01-01",leaseEnd: "1999-05-01",details: "Example Details 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod quam quis eros consectetur, vitae consectetur massa condimentum. Nunc sit amet turpis dignissim nibh suscipit finibus id sagittis dolor. Fusce quis risus et risus congue euismod. Donec et dui suscipit, aliquam odio ac, semper nisi. Vestibulum scelerisque sed sapien ut sodales. In sit amet congue massa. Praesent sed est semper, auctor sapien eget, varius purus. Nunc tempor ligula vitae turpis vehicula lacinia.", beds: 6,baths: 2,kitchens: 1,centralAir: true,sqft: 1000,favoriteStatus: false}'></app-listing-card>

        <app-listing-card class="col" [listing]='{listingId: 1234, ownerId: 4,address: "Example address 4", price: 300,photoRef: "assets\\images\\apartment.jpg",leaseStart: "1999-01-01",leaseEnd: "1999-05-01",details: "Example Details 4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod quam quis eros consectetur, vitae consectetur massa condimentum. Nunc sit amet turpis dignissim nibh suscipit finibus id sagittis dolor. Fusce quis risus et risus congue euismod. Donec et dui suscipit, aliquam odio ac, semper nisi. Vestibulum scelerisque sed sapien ut sodales. In sit amet congue massa. Praesent sed est semper, auctor sapien eget, varius purus. Nunc tempor ligula vitae turpis vehicula lacinia.", beds: 6,baths: 2,kitchens: 1,centralAir: true,sqft: 1000,favoriteStatus: false}'></app-listing-card>

    </div>


     <br>
     <h2 class = "d-flex justify-content-center"> Saved Listings </h2>
     <div class="d-flex flex-row">

        <app-listing-card class="col" [listing]='{listingId: 123456, ownerId: 1,address: "Example address 5", price: 340,photoRef: "assets\\images\\apartment.jpg",leaseStart: "1999-01-01",leaseEnd: "1999-05-01",details: "Example Details 5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod quam quis eros consectetur, vitae consectetur massa condimentum. Nunc sit amet turpis dignissim nibh suscipit finibus id sagittis dolor. Fusce quis risus et risus congue euismod. Donec et dui suscipit, aliquam odio ac, semper nisi. Vestibulum scelerisque sed sapien ut sodales. In sit amet congue massa. Praesent sed est semper, auctor sapien eget, varius purus. Nunc tempor ligula vitae turpis vehicula lacinia.", beds: 4,baths: 1,kitchens: 1,centralAir: false,sqft: 1500,favoriteStatus: true}'></app-listing-card>
    </div>
