<!-- <nav class="navbar navbar-expand-lg navbar-dark p-0 mb-4 bg-color-dark-sienna" style="box-shadow: 0px 1px 3px #eee;">
  <a class="navbar-brand m-0 p-0" routerLink="/listings"  [queryParams]="{}" routerLinkActive="active">
    <img src="assets\images\subletty_logo.png" style="height: 70px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-right" id="navbarSupportedContent">
    <a class="nav-item nav-link" routerLink="/renterpage"  [queryParams]="{}" routerLinkActive="active">
      <i class="bi-house-fill px-1" style="font-size: 1.1rem;" alt="owned properties button"></i>
      My Properties
    </a> 
    <a class="nav-item nav-link" href="#">
      <i class="bi-person-fill px-1" style="font-size: 1.1rem;" alt="profile button"></i>
      John Doe
    </a>
    <a class="nav-item nav-link" href="#.\landingpage.html">
      <i class="bi-door-open-fill px-1" style="font-size: 1.1rem;" alt="logout button"></i>
      Logout
    </a>
  </div>
    
</nav> -->
<!-- <ul>
  <li><a routerLink="/listing-card-component" [queryParams]="{address: 'Example Address', photoRef:'../assets/images/apartment.jpg', price: 40,beds: 2,baths: 1,details: 'Example Details',listingId: 12345}" routerLinkActive="active">Listing Card Component</a></li>
  <li><a routerLink="/message-box-component" [queryParams]="{senderName: 'Bob',senderID: 12345, messageBody: 'Hi! Im interested in your property. Will you contact me?', messageID: 0}" routerLinkActive="active">Message Box Component</a></li>
  <li><a routerLink="/edit-listing-component"  [queryParams]="{address: '107 11th Street', price: 40,beginDate: '1990-01-01',endDate: '1999-01-01',link: 'www.nuts.com',beds: 2,baths: 1,details: 'Example Details',listingId: 12345}" routerLinkActive="active">Edit Listing Component</a></li>
  <li><a routerLink="/listings"  [queryParams]="{}" routerLinkActive="active">Listing Page</a></li>
  <li><a routerLink="/renterpage"  [queryParams]="{}" routerLinkActive="active">Renter Page</a></li>
</ul>
 -->
<!-- <app-listing-card [listing]='{address: "Example Address", photoRef:"assets\\images\\apartment.jpg", price: 40,beds: 2,baths: 1,details: "Example Details",listingId: 12345}'></app-listing-card>
<app-message-box [message]='{senderName: "Bob",senderID: 12345, messageBody: "Hi! Im interested in your property. Will you contact me?", messageID: 0}'></app-message-box>
<app-edit-listing [editor]='{address: "107 11th Street", photoRef:"assets\\images\\apartment.jpg", price: 40,beginDate: "1990-01-01",endDate: "1999-01-01",link: "www.nuts.com",beds: 2,baths: 1,details: "Example Details",listingId: 12345}'></app-edit-listing> -->
<router-outlet></router-outlet>